<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emailapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <!-- Contact Activity -->
        <activity
            android:name=".activities.contacts.ContactActivity"
            android:label="Contact Activity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.contacts.ContactsActivity"
            android:label="Contacts Activity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.contacts.CreateContactActivity"
            android:label="CreateContact Activity"
            android:theme="@style/AppTheme"></activity>
        <!-- Email Activity -->
        <activity
            android:name=".activities.emails.CreateEmailActivity"
            android:label="Create Email Activity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.emails.EmailActivity"
            android:label="Email Activity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.emails.EmailsActivity"
            android:label="Emails Activity"
            android:theme="@style/MojaTema"></activity>
        <!-- Folder Activity -->
        <activity
            android:name=".activities.folders.CreateFolderActivity"
            android:label="Create Folder Activity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.folders.FolderActivity"
            android:label="Folder Activity"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".activities.folders.FoldersActivity"
            android:label="Folders Activity"
            android:theme="@style/AppTheme"></activity>
        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login Activity"
            android:theme="@style/AppTheme"></activity> <!-- Profile Activity -->
        <!-- Settings Activity -->
        <activity
            android:name=".activities.ProfileActivity"
            android:label="Profile Activity"
            android:theme="@style/AppTheme"></activity> <!-- Splash Activity or Main Activity that will be first shown in our App. -->
        <activity
            android:name=".activities.SplashActivity"
            android:label="Email Application"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>